<form action="/offers" method="post" class="form-inline">
  <div class="form-group">
    <label for="uid">User ID</label>
    <input type="text" name="uid" class="form-control" id="uid" placeholder="uid">
  </div>
  <div class="form-group">
    <label for="pub0">Pub0</label>
    <input type="text" name="pub0" class="form-control" id="pub0" placeholder="pub0">
  </div>
  <div class="form-group">
    <label for="page">Page</label>
    <input type="number" name="page" class="form-control" id="page" placeholder="page">
  </div>
  <button type="submit" class="btn btn-primary">Get Offers</button>
</form>
